
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
          body{
            background-image: url('https://t4.ftcdn.net/jpg/02/76/25/21/360_F_276252107_rdV920MHGAdDfo49nJUcEoABp37xNak5.jpg');
            background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
        }
        h1{
            text-align: center;
            font-size: 2rem;
            height: 10vh;
            width: 100vw;
            background-color: blue;
            color: white;
        }
        form{
            display: flex;
    flex-direction: column;
    height: 40vh;
    width: 50vw;
    background-color: #14000091;
    box-shadow: 4px 4px 8px white;
    align-items: center;
        }
        label{
            font-size: 1.5rem;
    color: wheat;
    margin-top: 1.5vh;
}
        
        input{
            height: 5vh;
    width: 32vw;
    border-radius: 20px;
    
        }
        button{
    background-color: #14000091;
    border-radius: 10px;
    width: 10vw;
    height: 3vh;
            margin-top: 2vh;
    color: wheat;
    box-shadow: 5px 4px 6px #e4ddddb5;
    font-weight: bold;
}
    </style>
</head>
<body>
    <h1>Change Password</h1>
    <form action="/change-password" method="post">
        <label for="currentPassword">Current Password:</label>
        <input type="password" name="currentPassword" required>
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" required>
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" name="confirmPassword" required>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>