<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
           body{
            background-image: url('https://t4.ftcdn.net/jpg/02/76/25/21/360_F_276252107_rdV920MHGAdDfo49nJUcEoABp37xNak5.jpg');
            background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
        }
        a{
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <h1 style="color: wheat; font-weight: bold;">
        Welcome  <%=email%>
    </h1>
    <a href="/change-password" style="color: wheat; font-weight: bold;">change-password</a>
</body>
</html>